
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link active" href="#" Match="NavLinkMatch.All" aria-current="page">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>

            <li class="nav-item"><NavLink class="nav-link" href="page2"><span class="oi oi-plus" aria-hidden="true"></span> Page 2</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page3"><span class="oi oi-plus" aria-hidden="true"></span> Page 3</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page4"><span class="oi oi-plus" aria-hidden="true"></span> Page 4</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page5"><span class="oi oi-plus" aria-hidden="true"></span> Page 5</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page6"><span class="oi oi-plus" aria-hidden="true"></span> Page 6</NavLink></li>

            <li class="nav-item"><NavLink class="nav-link" href="page8"><span class="oi oi-plus" aria-hidden="true"></span> Page 8</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page9"><span class="oi oi-plus" aria-hidden="true"></span> Page 9</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page10"><span class="oi oi-plus" aria-hidden="true"></span> Page 10</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page11"><span class="oi oi-plus" aria-hidden="true"></span> Page 11</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page12"><span class="oi oi-plus" aria-hidden="true"></span> Page 12</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page13"><span class="oi oi-plus" aria-hidden="true"></span> Page 13</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page14"><span class="oi oi-plus" aria-hidden="true"></span> Page 14</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page15"><span class="oi oi-plus" aria-hidden="true"></span> Page 15</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page16"><span class="oi oi-plus" aria-hidden="true"></span> Page 16</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page17"><span class="oi oi-plus" aria-hidden="true"></span> Page 17</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page18"><span class="oi oi-plus" aria-hidden="true"></span> Page 18</NavLink></li>

            <li class="nav-item"><NavLink class="nav-link" href="page20"><span class="oi oi-plus" aria-hidden="true"></span> Page 20</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page21"><span class="oi oi-plus" aria-hidden="true"></span> Page 21</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page22"><span class="oi oi-plus" aria-hidden="true"></span> Page 22</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page23"><span class="oi oi-plus" aria-hidden="true"></span> Page 23</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page24"><span class="oi oi-plus" aria-hidden="true"></span> Page 24</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" href="page25"><span class="oi oi-plus" aria-hidden="true"></span> Page 25</NavLink></li>

        </ul>
    </div>
</nav>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Spelling Bee 2022 Practice</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Page 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
